{% extends "auctions/layout.html" %}

{% block title %}
  Categories
{% endblock %}

{% block body %}
  <h1>Categories</h1>
  <div>
            <div class="col-xl-7 pb-2">
                <ul class="list-group">
                    <a href="{% url 'category' 'Clothing' %}">Clothing</a>
                    <a href="{% url 'category' 'Shoes' %}">Shoes</a>
                    <a href="{% url 'category' 'Toys' %}">Toys</a>
                    <a href="{% url 'category' 'Technology' %}">Technology</a>
                    <a href="{% url 'category' 'Accessories' %}">Accessories</a>
                    <a href="{% url 'category' 'Sports' %}">Sports</a>
                    <a href="{% url 'category' 'Other' %}">Other</a>
                </ul>
            </div>
  </div>
{% endblock %}
