textarea {
    min-height: 400px;
}

.inboxstyle {
    background-color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    border-style: dotted; 
}

.inboxstyletext {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

#archivebutton {
  margin-top: 10px;
}
